<view id="page">
  <button class='showinfo' plain="true">今天{{checks}}</button>
  <view class='bodyy'>
      <view class="table">
          <block wx:for="{{ddd}}">
          <view class='tr'>
            <view class="th">{{item.name}}{{item.price}}/个</view>
            <view class="td"><input type='number' maxlength="2" class='inin'></input></view>
          </view>
          </block>
      </view>
  </view> 
  <!-- <button plain='true' id="sub">提交</button> -->
</view>